@page "/chat/{UserName}"
@using EncryptedChatProject.Data;
@using System.Text;
@using System.Security.Cryptography;
@using System.Drawing;
@using System.IO;

@inject CipherService cipherService

@inject IWebHostEnvironment Environment
@inject ILogger<Chat> Logger


    <span>@UserName</span>

    <div class="chb-div">
    <input type="checkbox" @bind="showEncryptedContent">
    <label> Show encrypted</label>
    </div>

    <div>
        <label for="encryptionAlgorithm">Choose Encryption Algorithm:</label>
    <select id="encryptionAlgorithm" @bind="selectedEncryptionAlgorithm" @oninput="HandleAlgorithmChange" disabled="@algorithmIsSelected">
            <option value="LEACipher">LEA</option>
            <option value="FoursquareCipher">Foursquare</option>
        </select>
    </div>

    <div class="message-list">
        @for (int i=0; i<Messages.Count(); i++)
        {
        MessageModel message = Messages[i];
        <div class="message-container @(message.Sender == UserName ? "right" : " ")">
                <div><strong>@(message.Sender == UserName ? "You": message.Sender)</strong></div>

            @if (showEncryptedContent)
            {
                <div>@EncryptedMessages[i].Content</div>
            }
            
            <div>@message.Content</div>                
            
                <div><small>@message.Time.ToString(@"hh\:mm\:ss")</small></div>
               
                <!--ukoliko poruka sadrzi fajl-->
                <label>@fileValidation</label>
            </div>
         
        }
    </div>

<div class="chat-input-container">
    <label for="userInput">Enter Text:</label>
    <input id="userInput" @bind="userMessage" disabled="@fileAttached"/>

    <InputFile class="custom-file-input" OnChange="@LoadAttachment" />
    @if (isLoading)
    {
        <p>Uploading...</p>
    }

    <button @onclick="SaveMessage">Submit</button>
</div>

@implements IDisposable


@code {
    [Parameter] 
    public string UserName { get; set; }

    private string userMessage;

    private FileSystemWatcher fileWatcher;

    private List<MessageModel> Messages = new List<MessageModel>();
    private List<MessageModel> EncryptedMessages = new List<MessageModel>();
    private bool showEncryptedContent = false;

    private readonly object fileLock = new object();

    private string key1, key2, key3;

    private CipherContext context = new CipherContext();

    private string selectedEncryptionAlgorithm = "LEACipher";
    private bool algorithmIsSelected = false;

    SHA1P hasher = new SHA1P();

    private bool fileAttached = false;

    private IBrowserFile loadedFile = null;
    private long maxFileSize = 1024 * 1024 * 4;
    private bool isLoading;
    private string fileContent;
    private string hashedContent;
    private string fileValidation = "";

    protected override void OnInitialized()
    {
        try
        {
            //1. deo

            fileWatcher = new FileSystemWatcher
            {
                    Path = $".\\Chat",
                    Filter = "*.txt",
                    NotifyFilter = NotifyFilters.Attributes
                                    | NotifyFilters.CreationTime
                                    | NotifyFilters.DirectoryName
                                    | NotifyFilters.FileName
                                    | NotifyFilters.LastAccess
                                    | NotifyFilters.LastWrite
                                    | NotifyFilters.Security
                                    | NotifyFilters.Size,
                    EnableRaisingEvents = true
                };

            fileWatcher.Changed += HandleFileChanged;

            //2. deo

            IConfiguration configuration = new ConfigurationBuilder()
            .SetBasePath(Directory.GetCurrentDirectory())
            .AddJsonFile("appsettings.json")
            .Build();

            key1 = configuration["FoursquareKeys:Key1"];
            key2 = configuration["FoursquareKeys:Key2"];

            key3 = configuration["LEAKeys:Key3"];

            context.SetCipherBehavior(new LEACipher(key3));
            cipherService.OnAlgorithmChanged += DisableSelection;
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

    private async Task LoadAttachment(InputFileChangeEventArgs e)
    {
        isLoading = true;

        try
        {
            loadedFile = e.GetMultipleFiles(1).FirstOrDefault();

            if(loadedFile != null)
            {
                string contentType = loadedFile.ContentType;
                if(contentType != "text/plain")
                {
                    Logger.LogError("File: {Filename} is not a plain text file.", loadedFile.Name);
                }

                using (MemoryStream memoryStream = new MemoryStream())
                {
                    await loadedFile.OpenReadStream(maxFileSize).CopyToAsync(memoryStream);
                    byte[] contentBytes = memoryStream.ToArray();

                    fileContent = Encoding.UTF8.GetString(contentBytes);

                    hashedContent = hasher.CalculateSHA1(fileContent);
                }

                fileAttached = true;
            }

        }
        catch(Exception ex)
        {
            Logger.LogError("File: {Filename} Error: {Error}",
            loadedFile?.Name, ex.Message);
        }

        isLoading = false;
    }

    private void HandleAlgorithmChange(ChangeEventArgs e)
    {
        selectedEncryptionAlgorithm = e.Value.ToString();

        if (selectedEncryptionAlgorithm == "FoursquareCipher")
            context.SetCipherBehavior(new FoursquareCipher(key1, key2));
        else
            context.SetCipherBehavior(new LEACipher(key3));

        cipherService.ChangeAlgorithm();
    }

    private void DisableSelection()
    {
        algorithmIsSelected = true; 
    }

    private DateTime lastFileChangeTime = DateTime.MinValue;
    private readonly TimeSpan debounceInterval = TimeSpan.FromSeconds(1); 
    private Timer debounceTimer;


    private void HandleFileChanged(object sender, FileSystemEventArgs e)
    {
        try
        {
            lock (fileLock)
            {
                lastFileChangeTime = DateTime.Now;

                debounceTimer?.Dispose();
                debounceTimer = new Timer(_ =>
                {
                    if ((DateTime.Now - lastFileChangeTime) >= debounceInterval)
                    {
                        string sender = Path.GetFileNameWithoutExtension(e.FullPath);
                        string message = System.IO.File.ReadAllText(e.FullPath);
                        DateTime lastWriteTime = File.GetLastWriteTime(e.FullPath);

                        MessageModel toSendEncrypted = new MessageModel
                            {
                                Sender = sender,
                                Content = message,
                                Time = lastWriteTime.TimeOfDay
                            };

                        string decrypted = context.Decrypt(message);

                        string hashedDecrypted = hasher.CalculateSHA1(decrypted);

                        if (hashedContent != hashedDecrypted)
                        {
                            fileValidation = "Content does not match the expected structure.";
                        }
                        else
                        {
                            fileValidation = "";
                        }

                        MessageModel toSend = new MessageModel
                            {
                                Sender = sender,
                                Content = decrypted,
                                Time = lastWriteTime.TimeOfDay
                            };

                        InvokeAsync(() => UpdateMessages(toSendEncrypted, toSend));
                    }
                }, null, debounceInterval, Timeout.InfiniteTimeSpan);
            }
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }        
    }

    private void UpdateMessages(MessageModel encryptedMessage, MessageModel message)
    {
        EncryptedMessages.Add(encryptedMessage);
        Messages.Add(message);

        StateHasChanged();
    }

    private void SaveMessage()
    {
        try
        {
            lock (fileLock)
            {
                string fileName = $".\\Chat\\{UserName}.txt";

                string messageToSend = fileAttached ? fileContent : userMessage;

                string cipherText = context.Encrypt(messageToSend);
                                
                System.IO.File.WriteAllText(fileName, cipherText);
                userMessage = string.Empty;
            }
                        
            fileAttached = false;

            fileContent = "";
            loadedFile = null;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    public class MessageModel
    {
        public string Sender { get; set; }
        public string Content { get; set; }
        public TimeSpan Time { get; set; }
        //FileAttached
    }


    public void Dispose()
    {
        cipherService.OnAlgorithmChanged -= DisableSelection;


        string filePath = $".\\Chat\\{UserName}.txt";

        try
        {
            if (File.Exists(filePath))
            {
                System.IO.File.Delete(filePath);
            }
                       
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error deleting file: {ex.Message}");
        }
    }

}
